.alt-page{
    width: 393px;
    height: 794px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/maps/labelled_map.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
}

.banner-container {
    width: 230px;
    height: 65px;
    display: flex;
    background-color: white;
    border-radius: 0 0 30px 30px; 
    position: fixed;
    top: 0;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.banner{
    background-image: url('../images/mahalo_banner.png');
    width: 125px;
    height: 55px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.alt-header{
    text-align: center;
    color:transparent;
}

.alt-back-button-container{
    width: 43px;
    height: 43px;
    display: flex;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    top: 10px;
    left: 15px;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.alt-back-button{
    background-image: url('../images/icons/back_icon-removebg-preview.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    border:none;
    cursor:pointer;
    width: 43px;
    height: 43px;
    background-color: transparent;
    color:transparent
}

.performance-button-container{
    width: 43px;
    height: 43px;
    display: flex;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.performance-button{
    background-image: url('../images/icons/performances_icon-removebg-preview.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    border:none;
    cursor:pointer;
    width: 34px;
    height: 34px;
    background-color: transparent;
    color:transparent
}

.field-button{
    background-image: url('../images/pins/other_pin-removebg-preview.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    border:none;
    cursor:pointer;
    width: 260px;
    height: 257px;
    color: transparent;
}