.field-page{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/maps/labelled_map.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
}

.field-header{
    text-align: center;
}

.back-button{
    background-image: url('../images/icons/back_icon-removebg-preview.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border:none;
    cursor:pointer;
    width: 384px;
    height: 408px;
    color: transparent;
    transform: rotate(270deg);
}