.canteen-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../images/maps/Canteen.png');
    background-size: cover;
    background-position: calc(100% - 50px) calc(100% - 10px);
    background-repeat: no-repeat;
    color: white;
}

.canteen-header {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    width: 100%;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 60px; /* change height of the banner as needed, check later*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.canteen-header > div {
    flex: 1; /* Takes up remaining space */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children vertically */
    justify-content: center; /* Center children horizontally */
    text-align: center; /* Center the text horizontally */
}

.canteen-header h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
}

.canteen-header p {
    margin: 0;
    text-align: center;
}

.back-button{
    background-image: url('../images/icons/back_icon-removebg-preview.png');
    background-position: top left;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: transparent;
    border:none;
    cursor:pointer;
    width: 50px;
    height: 50px;
    color: transparent; 
    transform: rotate(270deg);
    margin-right: auto;
    margin-left: 0px;
}