.level2-page{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/maps/labelled_map.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
}

.level2-header{
    text-align: center;
}
