.performances{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url('../images/backgrounds/landing_page_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
}


.performance-header{
    text-align: left;
    font-family: 'Open Sans',sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}

.performance-header::-webkit-scrollbar{
    width: 0;
}

.performance-header h1 {
    color: black;
    position: relative;
    font-weight: 650;
    left: 75px;
}

#Foyer {
    color: black;
    position: relative;
    top: 20px;
    font-weight: 550;
    font-size: 30;
    left: 20px;
}

#FounderHall {
    color: black;
    position: relative;
    top: px;
    font-weight: 550;
    font-size: 30;
    left: 20px;
}

.performance-header > button{
    background-image: url('../images/icons/back_icon-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 65px;
    left: 16px;
    border:none;
    cursor:pointer;
    width: 43px;
    height: 43px;
    color: transparent;
    transform: rotate(270deg);
}

.scroller {
    width: 100vw;
    position: relative;
    left: 0px;
    display: flex;
    gap: var(--size-20);
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    padding: 0px;
    top: 10px;
}

.scroller::-webkit-scrollbar{
    width: 0;
}

.image-and-text {
    flex-direction: column;
    grid-template-rows: min-content;
    gap: var(--size-2);
    background: var(--surface-2);
    border-radius: var(--radius-2);
    width: 100%;
    align-items: flex-start;
    margin-right: 20px;
    margin-left: 20px;
}

.image-and-text > img {
    inline-size: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
    height: 110px;
    width: auto;
    border-radius: 10%;
    font-size: 14px;
}

.image-and-text > h3 {
    width: 140px;
    color: black;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 20px;
    top: 10px;
    font-size: 15px;
}
.image-and-text > h4 {
    width: 100px;
    color: black;
    margin-bottom: 15px;
    margin-top: 20px;
    height: 10px;
    font-size: 14px;
}

.image-and-text > p {
    width: 155px;
    color: black;
    margin-bottom: 0px;
    font-size: 9px;
}
